@import url(../../foundation/components/inputs.css);

.form-control {
  font-family: var(--m-form-control-font-family);
  font-style: var(--m-form-control-font-style);
}

.form-control .label {
  margin-bottom: var(--input-label-margin-bottom);
  color: var(--input-label-color);
  display: inline-block;
  font-weight: var(--m-typescale-body-small-font-weight);
  font-size: var(--m-typescale-body-small-font-size);
  line-height: var(--m-typescale-body-small-line-height);
}

.input {
  box-sizing: border-box;
  flex: 1 1 auto;
  display: inline-flex;
  align-items: stretch;
  justify-content: start;
  position: relative;
  width: var(--input-width);
  height: var(--input-height);
  font-family: inherit;
  font-weight: var(--m-typescale-body-medium-font-weight);
  font-size: var(--m-typescale-body-medium-font-size);
  line-height: var(--m-typescale-body-medium-line-height);
  vertical-align: middle;
  cursor: text;
  background-color: var(--input-background-color);
  border: var(--input-border);
  border-radius: var(--input-border-radius);
}

.input.focused {
  box-shadow: var(--input-focus-ring);
}

.input.valid {
  border-color: var(--m-success-color);
}

.input.invalid {
  border-color: var(--m-error-color);
}

.input__control {
  box-sizing: border-box;
  flex: 1 1 auto;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  min-width: 0;
  height: 100%;
  color: var(--input-control-color);
  border: none;
  background: inherit;
  box-shadow: none;
  margin: var(--input-control-padding);
  cursor: inherit;
}

.input__control::placeholder {
  color: var(--input-placeholder-color);
  user-select: none;
  -webkit-user-select: none;
}

.input__control:focus {
  outline: none;
}

.input__control:valid {
  outline: none;
}

.input__control:invalid {
  outline: none;
}

.input__password-toggle {
  width: var(--input-password-toggle-icon-size);
  height: var(--input-password-toggle-icon-size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-right: var(--m-spacing-3);
  font-size: inherit;
  color: var(--input-control-color);
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  border-radius: var(--m-shape--corner-small);
}

.input__password-toggle:focus {
  outline: none;
  box-shadow: var(--input-focus-ring);
}

.error {
  color: var(--error-text-color);
}

.form-control__validation-text {
  font-size: var(--m-typescale-body-small-font-size);
  line-height: var(--m-typescale-body-small-line-height);
  margin-top: var(--m-spacing-2);
}

.form-control__validation-text.valid {
  color: var(--input-success-color);
}

.form-control__validation-text.invalid {
  color: var(--input-error-color);
}

.validation-text__message {
  display: flex;
  gap: var(--m-spacing-1);
  visibility: hidden;
}

.validation-text__message.visible {
  visibility: visible;
}
